@import '../../styles/mixins';

.main {
  @include flex(space-around, column, center);
  gap: 8px;
  margin-bottom: 50px;

  .addPanel {
    @include container(20px);
    @include flex(space-between, row, end);
    gap: 15px;

    .label {
      color: black;
      font-size: 10px;
    }
  }
}
